{{!-- Spellbooks --}}
<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.SpellbookUsage"}}</h2>
    </div>
    {{#each spellbookData as |spellbook a|}}
      <label class="checkbox">
        <input type="checkbox" {{checked spellbook.orig.inUse}} name="spellbook-{{a}}-inuse"/> {{spellbook.orig.name}}
      </label>
    {{/each}}
  </div>
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.AbilityScoreLinks"}}</h2>
    </div>
    {{!-- Hit Points --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.HitPoints"}}</label>
      <select name="hpAbility" class="cell midsize-cell half">
        {{#select data.attributes.hpAbility}}
          <option value=""></option>
          {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="flexrow">
      <h3>{{localize "PF1.Combat"}}</h3>
    </div>
    {{!-- Initiative --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.Initiative"}}</label>
      <select name="initAbility" class="cell midsize half">
        {{#select data.attributes.init.ability}}
          <option value=""></option>
          {{selectOptions config.abilities}}
        {{/select}}
      </select>
    </div>
    {{!-- CMB --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.CMB"}}</label>
      <select name="cmbAbility" class="cell midsize half">
        {{#select data.attributes.cmbAbility}}
          <option value=""></option>
          {{#each config.abilities as |label value|}}
            <option value="{{value}}">{{label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    {{!-- Melee --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.Melee"}}</label>
      <select name="meleeAbility" class="cell midsize half">
        {{#select data.attributes.attack.meleeAbility}}
          <option value=""></option>
          {{#each config.abilities as |label value|}}
            <option value="{{value}}">{{label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    {{!-- Ranged --}}
    <div class="flexrow">
      <label class="cell left-label half">{{localize "PF1.Ranged"}}</label>
      <select name="rangedAbility" class="cell midsize half">
        {{#select data.attributes.attack.rangedAbility}}
          <option value=""></option>
          {{#each config.abilities as |label value|}}
            <option value="{{value}}">{{label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
  {{!-- Optional Rules --}}
  <div class="form-group stacked">
    <div class="flexrow">
      <h2>{{localize "PF1.OptionalAndVariantRules"}}</h2>
    </div>
    <div class="flexrow">
      {{!-- Wound Thresholds --}}
      <label class="cell left-label half">{{localize "PF1.WoundThresholdOverride"}}</label>
      <select class="cell midsize half" name="data.attributes.woundThresholds.override" {{#unless woundThresholds.allowWoundThresholdOverride}}disabled{{/unless}}>
          {{#select data.attributes.woundThresholds.override}}
            <option value="-1">{{localize 'PF1.Default'}}</option>
            <option value="0">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdDisabled'}}</option>
            <option value="1">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdNormal'}}</option>
            <option value="2">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdGritty'}}</option>
          {{/select}}
      </select>
    </div>
  </div>
  {{#if isGM}}
    <div class="form-group stacked">
    {{!-- Tooltip Settings --}}
      <div class="flexrow">
          <h2>{{localize "PF1.TooltipConfigName"}}</h2>
      </div>

      <div class="flexrow">
          <label class="cell left-label half">{{localize "PF1.Name"}}</label>
          <input class="cell midsize half"  type="text" name="data.details.tooltip.name" placeholder="{{token.name}}" value="{{data.details.tooltip.name}}" />
      </div>

      <div class="flexrow">
        <label class="checkbox">
          <input type="checkbox" name="data.details.tooltip.hideHeld" {{checked actor.data.details.tooltip.hideHeld}}/> {{localize "PF1.HideHeld"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.details.tooltip.hideArmor" {{checked actor.data.details.tooltip.hideArmor}}/> {{localize "PF1.HideArmor"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.details.tooltip.hideBuffs" {{checked actor.data.details.tooltip.hideBuffs}}/> {{localize "PF1.HideBuffs"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.details.tooltip.hideConditions" {{checked actor.data.details.tooltip.hideConditions}}/> {{localize "PF1.HideConditions"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.details.tooltip.hideClothing" {{checked actor.data.details.tooltip.hideClothing}}/> {{localize "PF1.HideClothing"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.details.tooltip.hideName" {{checked actor.data.details.tooltip.hideName}}/> {{localize "PF1.HideName"}}
        </label>
      </div>
    </div>
  {{/if}}
  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "PF1.Save"}}</button>
  <button type="submit" name="reset-config" value="2" title="{{localize "PF1AS.Config.ResetTooltip"}}"><i class="fas fa-backspace"></i> {{localize "PF1AS.Config.Reset"}}</button>
</form>