{{!-- Skill Rank Info --}}
<div class="flexcol skill-rank">
  <ol class="form-group">
    <li class="flexrow skill-rank-formula">
      <label>{{localize "PF1.SkillBonusRankFormula"}}</label>
      <input type="text" name="data.details.bonusSkillRankFormula" value="{{data.details.bonusSkillRankFormula}}" placeholder="{{localize "PF1.Formula"}}" style="width: 200px; margin-left: 10px; margin-right: 20px" />
      <div class="tooltip">
        <label>{{localize "PF1.SkillRankPlural"}}</label>
        <span style="margin-right: 30px; margin-left: 10px">{{skillRanks.used}} / {{skillRanks.allowed}}{{#if useBGSkills}}&nbsp;&nbsp;&mdash;{{skillRanks.sentToBG}}&ndash;&gt;&nbsp;&nbsp;{{skillRanks.bgUsed}} / {{skillRanks.bgAllowed}}{{/if}}</span>
        <span class="tooltipcontent">
          {{#if sourceData.skillRanks}}
            {{localize "PF1.FromSources"}}:<br/>
            {{#each sourceData.skillRanks as |src|}}
              {{src.name}}: {{src.value}}<br/>
            {{/each}}
          {{/if}}
        </span>
      </div>
    </li>
  </ol>
</div>

{{#if useBGSkills}}
  <nav class="sheet-navigation tabs" data-group="skillset">
    <a class="item" data-tab="adventure">{{localize "PF1.SkillTypeAdventure"}}</a>
    <a class="item" data-tab="background">{{localize "PF1.SkillTypeBackground"}}</a>
  </nav>

  <section class="skillset-body">
    <div class="tab flexcol" data-group="skillset" data-tab="adventure">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills.hbs" skillset=skillsets.adventure.skills isBackgroundSkills="false" skillGroup="adventure"}}
    </div>

    <div class="tab flexcol" data-group="skillset" data-tab="background">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills.hbs" skillset=skillsets.background.skills isBackgroundSkills="true" skillGroup="background"}}
    </div>
  </section>
{{else}}
  <nav class="sheet-navigation tabs" data-group="skillset" style="display: none">
    <a class="item" data-tab="all">{{localize "PF1.AllSkills"}}</a>
  </nav>

  <section class="skillset-body">
    <div class="tab flexcol" data-group="skillset" data-tab="all">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills.hbs" skillset=skillsets.all.skills isBackgroundSkills="false" skillGroup="adventure"}}
    </div>
  </section>
{{/if}}
